/*General*/
body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    font-size: 0.875rem;
    font-family: Arial, serif;
    font-weight: 400;
    line-height: 1.43;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.logo {
    max-width: 100%;
    max-height: 100%;
    border: white 1px solid;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.upper {
    font-size: 0.75em;
    padding-top: 0;
    padding-bottom: 0;
}

/*Header*/
header, footer, #tagScore, .score {
    background-color: #1d1d1d;
    color: white;
}

header {
    height: 121px;
    width: 100%;
    display: flex;
    top: 0;
    left: auto;
    right: 0;
    position: sticky;
    z-index: 1000;
}

#headerMenu {
    margin: auto;
    width: 100%;
    min-height: 48px;
    padding-left: 0;
}

#headerMenu li {
    list-style-type: none;
}

#headerLogo {
    max-height: 100px;
}

#headerLinks {
    width: 100%;
    height: 100%;
    justify-content: center;
}

#headerLinks > * {
    height: 100%;
    padding: 5px;
}

.headerLink{
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

/*Footer*/
#footerContent {
    padding: 24px 16px 0 24px;
}

#footerLogoContainer {
    max-width: 120px;
}

#FakeGradingText {
    font-size: 9px;
}

#footerMenu {
    margin: auto;
    width: 100%;
}

#footerMenu li {
    list-style-type: none;
    padding-top: 10px;
}

#footerMenu li:last-child {
    padding-bottom: 75px;
}

/*Main*/

main {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #f8f8f8;
}

main > .row {
    margin-bottom: 24px;
}

.scoreContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#tagScore, .score {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

#tagScore img {
    max-width: 100%;
    max-height: 109px;
}

#gradeScore {
    font-size: 70px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 0;
    padding-top: 0;
}

#roboScore, #roboMintScore {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

#overviewRow {
    font-size: 14px;
    font-weight: bold;
}

#statsRow {
    justify-content: space-around;
}

.statContainer {
    padding-top: 15px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.statContainer > * {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.asOfToday {
    font-size: 8px;
}

.gradeText {
    font-weight: bold;
    min-height: 90px;
}

#certificate {
    height: 0;
    margin: 2em 0;
    border-radius: 10px;
    border: #a8a8aa 1px solid;
    position: relative;
}

#certText{
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 150px;
    background: #a8a8aa;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.cardImage{
    width: 100%;
}

#cardCloseUps *{
    margin-bottom: 20px;
}

#frontImage, #backImage{
    width: 100%;
}
